// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
  background: #337ab7;
  position: absolute;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 2.7em;

  .brand {
    font-size: 1.2em;
  }
}
