</body>
<div id="footer">
<div class="container">
  <footer>
    <div class="custom">
      
      <div class="row-fluid">
        <br>
        <div class="span3"></div>
        
       
        
        
        
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
</body>
</html>
