<header class="navbar navbar-fixed-top bg-primary">
  <div class="container">
   
    <nav
    <ul >
      <ul class="nav navbar-nav navbar-right">
     <li class="brand">Facebook</li>
    
      </ul>
      <
    </nav>
  </div>
</header>